#root {
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.parent{
  display: flex;

}
.card-parent{
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
  width: 50%;
  align-items: end;
}
.left{
  height: fit-content;
}
.card {
  background-color: rgb(235, 225, 225);
  width: 400px;
  border-radius: 25px;
  padding: 10px;
}

.block{
  font-weight: 700;
}

.return{
  background-color: rgb(237, 107, 107);
  color: white;
  border: 1px solid white;
}